@media screen and (max-width:760px){
    .forms-regis{
        /* display: none;  */
        text-align : center;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
}

#but1{
    width: 150px;
    padding: 0px;
    margin: 15px;
    }
#but2{
    width: 150px;
    padding: 0px;
    margin: 15px;
    }
#aa{
    /* text-align : center; */
    /* margin-left : -30px; */
    /* padding-left: 230px ; */
    /* padding-right: 330px ; */
    padding-right: 50px ; 
    } 
#ab{
    /* text-align : center; */
    padding-right: 24px ;
    }
#ac{
    padding-left: 70px ;
    }

.bg-img{
    /* background-image: url('../../BG/key.jpg'); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* margin: 0; */
    /* padding: 0; */
    /* height: 100%; */
    /* width: 100%; */
    /* padding-left: 200px ; */
}
.forms-regis {
    text-align : center;
    height: 100%;
    width: 85%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}
.conta {
    min-height:93vh;
}
body{
    background-image: url('../../BG/key.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container {
    text-align : center;
}